@font-face {
  font-family:  "Gilroy";
  src:  url("fonts/gilroylight.woff2") format("woff2"),
        url("fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:  "Gilroy";
  src:  url("fonts/gilroyextrabold.woff2") format("woff2"),
        url("fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
} 

@font-face {
  font-family:  "Open sans";
  src:  url("fonts/opensans.woff2") format("woff2"),
        url("fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:  "Open sans";
  src:  url("fonts/opensanslight.woff2") format("woff2"),
        url("fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black:  #000000;
  --basic-dark: #363636;
  --basic-white:  #ffffff;
  --basic-gray: #464646;
  --basic-half-gray:  #7e7e7e;
  --basic-gray-light: #e5e5e5;
  
  --special-yellow: #f7e296;
  --special-green:  #91c92f;
  --special-yellow-dark:  #f0c52e;

  --paginator-color: #EBEBEB;
  --popup-field-color: #f2f2f2;
}

/* Global */


/* Grid */
html {
  height: 100%;
}

.page-body {
  cursor: default;
  display: grid;
  min-height: 100%;
  grid-template-rows:
    min-content
    1fr
    min-content;
    align-content: start;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
  min-width:  1440px;
  color: var(--basic-black);
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

img {
  max-width:  100%; 
  height: auto;
}

a:not(.active) {
  text-decoration:  none;
  cursor: pointer;
}

.visually-hidden  {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* Navigation */
.header{
  background-color: var(--special-yellow);
  display: flex;
  flex-wrap: wrap;
}

.header-inner {
  width: 1040px;
  padding: 0 60px;
}

.logo-wrapper {
  margin-top: -20px;
  margin-bottom: 4px;
  width:  100%;
}

.user-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 33px;
}

.navigation {
  width: 100%;
  margin-bottom: 164px;
}

.navigation-catalog {
  width: 100%;
  margin-bottom: 50px;
}

.container {
  width: 1160px;
  margin: 0 auto;  
}

/* User navigation */
.user-navigation-list,
.main-catalog-list {
  color:  var(--basic-black);
  font-family:  "Open sans";
  font-size: 15px;
  font-weight:  300;
  list-style: none;
  line-height:  20px;
}

.main-header-search {
  min-width: 440px;
  margin-right: 100px;
  position: relative;
}

.search-input:focus {
  color: #000;
  border-bottom-color: #000;
  outline: 0;
}

.search-input::placeholder {
  font-size: 15px;
  line-height: 20px;
}

.user-navigation-list {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.user-navigation-login {
  flex-grow: 1;
  padding-left: 24px;
  position: relative;
}

.user-navigation-login a::before {
  content: " ";
  background-image: url("../img/user.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 2px;
  top: 7px;
}

.user-navigation-logout {
  padding-left: 16px;
  opacity: 0.3;
}

.user-navigation-item:nth-child(2),
.user-navigation-item:nth-child(3) {
  position: relative;
}

.user-navigation-item:nth-child(2) {
  margin-right: 43px;
  padding-left: 23px;
}

.user-navigation-item:nth-child(2) a::before {
  content: " ";
  background-image: url("../img/compare.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 7px;
  padding-right: 23px;
}

.user-navigation-item:nth-child(3) {
  padding-left: 22px;
}

.user-navigation-item:nth-child(3) a::before {
  content: " ";
  background-image: url("../img/cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 5px;
  padding-right: 22px;
}

/* Main navigation */
.main-navigation-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color:  var(--basic-black);
  font-family:  "Gilroy";
  font-weight:  800;
  font-size:  18px;
  line-height:  22px;
  list-style: none;
  text-transform: uppercase;
  position: relative;
}


.main-navigation-item:first-child {
  margin-right: 348px;
  letter-spacing: 0.1em;
  position: relative;
}

.main-navigation-item:not(:first-child){
  margin-right: 35px;
  letter-spacing: 0.2em;
}

.main-navigation-item:last-child {
  margin-left: auto;
  margin-right: -4px;
}



/* Dropdown */

.dropdown-menu {
  position: absolute;
  min-height: 132px;
  min-width: 1100px;
  z-index: 10;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 60px;
  left: -60px;
  display: none;
  background-color: var(--special-yellow);
  text-transform: initial;
}

.dropdown-menu .column-1,
.dropdown-menu .column-2,
.dropdown-menu .column-3 {
  margin-right: 61px;
}

.main-navigation-item:first-child::before {
  content: " ";
  background-image: url("../img/plus.svg");
  background-size: contain;
  opacity: 0.3;
  
  display: block;
  width: 16px;
  height: 16px;

  position: absolute;
  top: 3px;
  left: 210px;
}

.main-catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  letter-spacing: 0em;
}

.main-catalog-list li {
  margin-bottom: 20px;
}

.main-navigation-item:hover .dropdown-menu {
  display: flex;
}

/* active & hover link */
.user-navigation-list a,
.main-navigation-list a,
.main-catalog-list a {
  color: var(--basic-black)
}

.main-logo img:hover,
.user-navigation-item a:hover,
.main-navigation-list a:hover,
.main-catalog-list a:hover,
.footer-navigation-list a:hover,
.copyright:hover {
  opacity: 0.6;
}

.main-logo img:active,
.user-navigation-item a:active,
.main-navigation-list a:active,
.main-catalog-list a:active,
.footer-navigation-list a:active,
.copyright:active {
  opacity: 0.3;
}

/* slider for special offers */
.special-offers {
  margin-bottom: 249px;
  height: 356px;
  position: relative;
}

.slide-wrapper {
  justify-self: center;
  align-self: center;
}


.special-offers-item {
  display: none;
  grid-template-columns: 600px 1fr;
  margin-top: -129px;
  position: relative;
}

.special-offers-item-current {
  display: grid;
}

.slider-controls {
  position: absolute;
  bottom: 4px;
  right: 88px;
  display: flex;
  width: 72px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.current-slide {
  background-image: url("../img/ellipse2.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: default;
}

.description-slide-wrapper {
  z-index: 0;
}

.special-offers-item h3 {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
  margin-top: 93px;
  margin-bottom: 26px;
  z-index: 1;
}

.special-offers-item h3::before {
  content: " ";
  position: absolute;
  top: 34px;
  height: 7px;
  width: 100px;
  background-color: var(--basic-white);
}


.item-1 .slide-wrapper {
  margin-right: 38px;
}

.item-2 .slide-wrapper {
  margin-top: 26px;
  margin-right: 22px;
}

.item-3 .slide-wrapper {
  margin-top: 17px;
  margin-right: 13px;
}

.item-1 h3::after {
  content: "01";
  color: var(--basic-white);
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  right: 47px;
  top: -19px;
  position: absolute;
  z-index: -1;
}

.item-2 h3::after {
  content: "02";
  color: var(--basic-white);
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  right: 54px;
  top: -18px;
  position: absolute;
  z-index: -1;
}

.item-3 h3::after {
  content: "03";
  color: var(--basic-white);
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  right: 52px;
  top: -18px;
  position: absolute;
  z-index: -1;
}

.special-offers-item p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.feature {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

.feature-title td {
  padding-top: 13px;
}

.feature-value td:nth-child(2),
.feature-title td:nth-child(2) {
  min-width: 135px
}

.feature-value td:first-child,
.feature-value td:last-child,
.feature-title td:first-child,
.feature-title td:last-child{
  min-width: 157px;
}

.feature tr:first-child{
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  padding-top: 0px;
}

.feature tr:last-child {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;


}



/* content catalog */
.catalog-list-container {
  margin-bottom: 166px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  max-width: 160px;
  margin: 0;
  padding: 0;
}

.catalog-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--special-yellow);
  width: 160px;
  height: 160px;
}

.catalog-image:hover {
  background-color: var(--special-yellow-dark);
}

.catalog-list a {
  color: var(--basic-black);
}

.catalog-list-link p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 38px;
  white-space: normal;
}

.catalog-list a:active {
 color: rgba(0, 0, 0, 0.4);
}

.catalog-list-link:active img {
  opacity: 0.3;
}

/* services */

.service-container {
  margin-bottom: 90px;
  padding-bottom: 56px;
  background-image: linear-gradient(to top,#e5e5e5 76%,transparent 34%);
}

.services {
  display: flex;
  min-height: 320px;
  margin-top: -70px;
}

.service-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 284px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 1;
}

.service-list::before {
  content: " ";
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
  position: absolute;
  display: flex;
  left: 277px;
  top: -12px;
}

.service-item {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.current-service-item {
  width: 284px;
  background-color: var(--basic-black);
}

.service-item .current-service-button {
  font: inherit;
  text-transform: inherit;
  color: var(--special-yellow);
  letter-spacing: inherit;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: transparent;
  border: none;
  width: 160px;
}

.current-service-button span {
  width: 200px;
}

.service-description { 
  margin-left: 116px;
  width: 571px;
  position: relative;
  display: none;
}

.service-description h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-top: 59px;
  margin-bottom: 40px;  
}

.service-description p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.service-content article::after {
  content: " ";
  position: absolute;
  top: -78px;
  left: 559px;
  width: 260px;
  height: 320px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}  

.service-content .credit-service::after {
  top: -89px;
  left: 544px;
}

.service-content .credit-service::after {
  top: -81px;
  left: 560px;
}

.delivery-service::after {
  background-image: url("../img/delivery.svg");
}

.warranty-service::after {
  background-image: url("../img/warranty.svg");
}

.credit-service::after {
  background-image: url("../img/credit.svg");
}

.service-shown {
  display: block;
}


/* partners */

.partners {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px; 
} 

.partners a {
  opacity: 0.3;
  filter: grayscale(100%);
}

.partners a:hover {
  opacity: 1;
  filter: none;
}
/* Index columns */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}

.index-columns h2::before {
  content: " ";
  display: flex;
  width: 80px;
  height: 7px;
  margin-bottom:  50px;
  background-color: var(--basic-black);
}

.index-columns h2 {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
}

.index-columns p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 40px;
}

.about {
  width: 473px;
}
.about h2 {
  margin-bottom: 40px;
}

.about ul {
  margin: 0;
  margin-bottom: 69px;
  padding-left: 8px;
  padding-top: 10px;
  list-style: none;
}

.about li {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  line-height: 28px;
  padding-left: 24px;
  margin-bottom: 14px;
  position: relative;
}

.about li:first-child {
  margin-top: 10px;
  margin-bottom: 15px;
}

.about li::before {
  content: " ";
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 10px;
  left: -8px;
}

.contact {
  width: 560px;
}

.contact h2 {
  margin-bottom: 40px;
}

.contact img {
  width: 560px;
  height: 222px;
  margin-bottom: 68px;
}


/* footer */

.footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.footer .container {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}

.footer-user-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer-user-navigation-list {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color:  var(--basic-white);
  list-style: none;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 4px;
}


.footer-user-navigation-list::before {
  content: " ";
  width: auto;
  flex-grow: 1;
}

.footer-user-navigation-item {
  position: relative;
}

.footer-user-navigation-item:first-child {
  margin-right: 46px;
}

.footer-user-navigation-item:last-child {
  margin-left: 43px;
}

.footer p {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.footer .main-logo {
  width: auto;
  margin-top: -2px;
  margin-bottom: 31px;
}

.footer-user-navigation-list a {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 21px;
}

.footer-login::before {
    content: " ";
    background-image: url("../img/user-special.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 7px;
}

.footer-compare::before {
  content: " ";
  background-image: url("../img/compare-special.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 7px;
}

.footer-cart::before {
  content: " ";
  background-image: url("../img/cart-special.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 7px;
}


.footer-login::before,
.footer-compare::before,
.footer-cart::before {
  opacity: 1;
}

.footer-login:hover::before,
.footer-compare:hover::before,
.footer-cart:hover::before {
  opacity: 0.7;
}
.socials-list a:hover {
  opacity: 1.0;
}


.footer-user-navigation-list a:hover {
  color: var(--basic-white);
}

.footer-user-navigation-list a:active {
  opacity: 0.3;
}

.wrapper-navigation-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 67px;
}

.tel-link {
  color: var(--basic-white);
}

.footer-navigation-list {
  color: var(--basic-white);
  font-family:  "Gilroy";
  font-weight:  800;
  font-size:  18px;
  letter-spacing: 0.2em;
  line-height:  22px;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  margin-right: 36px;
  padding: 0;
  display: flex;
  width: 423px;
  justify-content: space-between;
}

.footer-navigation-item:first-child {
  margin-left: -1px; 
}

.footer-navigation-item:last-child {
  margin-right: -2px;
}

.footer-navigation-list a {
  color: var(--basic-white);
}

.socials-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 65px;
}

.socials-list {
  display: flex;
  width: auto;
  list-style: none;
  margin: 0;
  margin-bottom: 2px;
  margin-right: 52px;
  padding: 0;
}

.socials-item:first-child {
  margin-right: 20px;
}

.socials-item:last-child {
  margin-left: 20px;
}

.socials-wrapper::before {
  content: " ";
  width: 80px;
  height: 7px;
  background-color: #f0c52e;
  margin-bottom: 10px;
}

.socials-list a {
  opacity: 0.3;
}

.socials-list a:active {
  opacity: 0.1;
}
/* Buttons decorative*/

.button {
  display: block;
  border: none;
  color: var(--basic-black);
  cursor: pointer;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color: inherit;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  position: relative;
}

.button:active {
  color: rgba(0, 0, 0, 0.3)
}

.button::before {
  content: " ";
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;  
}

.search-button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid var(--basic-black);
  padding: 15px 17px;
  background-color: transparent;
  visibility: hidden;
  margin-left: -4px;
}

.main-header-search::before {
  content: " ";
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 22px;
  left: 1px;
}

.search-button:hover {
  background-color: var(--basic-black);
  color: rgba(255, 255, 255);
  visibility: visible;
}

.search-button span:active {
  opacity: 0.3;
  visibility: visible;
}

.main-navigation-list .button:hover {
  background-color: transparent;
}

.main-navigation-list .button {
  position: absolute;
  left: 210px;
  top: 2px;
  background-image: url("../img/plus.svg");
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  opacity: 0.7
}

.main-navigation-item .button::before {
  display: none;
}

.button:hover {
  background-color: var(--special-yellow-dark);
}

.special-offers .button {
  width: 215px;
  margin-top: 51px;
  margin-bottom: 51px;
  padding-left: 5px;
}

.special-offers .button:hover {
  background-color: var(--special-yellow-dark);
}

.service-item .button {
  width: 160px;
  /* z-index: 1; */
}

.service-item .button:active{
  background-color: var(--basic-black);
  color: var(--special-yellow);
}

.index-columns .button {
  width: 260px;
}

.main-navigation-item:first-child::before:hover {
  opacity: 1;
}

/* Form  popup checkbox radio */
.search-input {
  background-color: inherit;
  position: relative;
  width: 310px;
  margin: 0;
  padding:0;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 37px;
  line-height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.search-input:focus + .search-button {
  visibility: visible;
}

.search-input::placeholder  {
  opacity: 0.3;
}


.search-input:focus::placeholder {
  opacity: 1;
}

.search-input:hover::placeholder {
  opacity: 0.6;
}

.popup {
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  position: absolute;
  top: 50%;
  left: 25%;
  width: 960px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: none;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 92px;
  padding-bottom: 69px;
}

.write-us-item {
  width: 360px;
}

.write-us-item input {
  width: 360px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 21px;
  margin-top: 10px;
  border: none;
  background-color: var(--popup-field-color);
  box-sizing: border-box;
}

.invalid-value:invalid {
  background-color: #F6DADA;
}

.write-us-item input:hover,
.write-us-item textarea:hover {
  background-color: #eaeaea;
}

.write-us-item input:focus,
.write-us-item textarea:focus {
  outline: 2px solid #F7E296;
  background-color: var(--basic-white);
}

.write-us-item:nth-of-type(3) {
  width: 100%;
  margin-bottom: 54px;
}

.write-us-item textarea {
  width: 760px;
  min-height: 167px;
  margin-top: 10px;
  padding-top: 17px;
  padding-left: 20px;
  border: none;
  resize: none;
  background-color: var(--popup-field-color);
  box-sizing: border-box;
}

.write-us-item input,
.write-us-item textarea {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.write-us-form .button {
  width: 200px;
  position: relative;
}

.write-us-form .button:active {
  background-color: var(--special-yellow);
}

.write-us-form .button:hover {
  background-color: var(--special-yellow);
}

.write-us-form .button:focus {
  outline: 2px solid #F7E296;
}

.write-us-form .button::before {
  content: " ";
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow);
  display: flex;
  position: absolute;
  transform: translateY(-50%);
  z-index: -1;
}

.close-modal-btn {
  position: absolute;
  background-color: transparent;
  right: 0;
  top: 0;
  margin: 0;
  margin-top: 20px;
  margin-right: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  outline-color: #f7e296;
} 

.close-modal-btn:hover {
  opacity: 1;
}

.close-modal-btn:active {
  opacity: 0.3;
}

.map-popup {
  position: absolute;
  top: 125%;
  left: 24%;
  width: 994px;
  min-height: 523px;
  z-index: 1;
  display: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.map-popup .close-modal-btn {
  margin: 0;
  padding: 0;
  margin-top: 43px;
  margin-right: 35px;
}

/* catalog */

main h1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
}

.title-inner {
  width: 1160px;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 50px;
}

.title-inner h1 {
  margin-left: 60px;
  margin-bottom: 30px;
}

/* breadcrumbs */

.breadcrumbs {
  font-weight: 300;
  font-size: 14px;
  list-style: none;
  line-height: 19px;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 60px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);  
}

.breadcrumbs a:not(.active):hover {
  color: rgba(0, 0, 0);
}

.breadcrumbs a:not(.active):active {
  color: rgba(0, 0, 0, 0.1);
}

.active {
  cursor: default;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child) a::after {
  content: " ";
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 4px;
  height: 8px;
  position: absolute;
  top: 6px;
  right: -20px;
}  

.breadcrumbs-item:not(:last-child) {
  margin-right: 40px;
}

/* catalog page */

/* filter and sort header*/

.catalog-header {
  background-image: linear-gradient(to right,#dcdcdc 37%,#e5e5e5 34%);
  height: 70px;
  display: flex;
  align-items: center;
}

.catalog-header h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog-header-inner {
  display: flex;
}

.catalog-header-inner > h3 {
  width: 420px;
  margin-left: 60px;
}

.sorting { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sorting h3 {
  margin-left: 48px;
  margin-right: 73px;
}

.sorting-list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  display: flex;
}

.sorting-item {
  margin: 0;
  margin-right: 30px;
}

.sorting-item:last-child {
  margin-right: 0;
}

.sorting-level-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting-level-list .level-up {
  margin-right: 23px;
}

.sorting ul {
  list-style: none;
}

.sorting-list a {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  color: var(--basic-black);
}

.sorting-level-item {
  position: relative;
}

.level-up a::before {
  content: " ";
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 10px;
  height: 11px;
  position: absolute;
  top: -6px;
  left: -25px;
}

.level-down a::before {
  content: " ";
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 11px;
  height: 11px;
  position: absolute;
  top: -6px;
  left: -15px;
}

.sorting-list a:hover:not(.current-sorting-item) {
  opacity: 0.6;
}

.sorting-list a:active:not(.current-sorting-item) {
  opacity: 1;
}

.sorting-list .current-sorting-item {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  opacity: 1;
}

.sorting-level-list .current-level {
  opacity: 1;
}

.sorting-level-list a:not(.current-level) {
  opacity: 0.4;
}

.sorting-level-list a:hover:not(.current-level) {
  opacity: 0.2;
}

.sorting-level-list a:active:not(.current-level) {
  opacity: 1;
}

/* catalog content */

.catalog-wrapper {
  padding-top: 70px;
  padding-bottom: 78px;
  background-image: linear-gradient(to right, var(--basic-gray-light) 37%, transparent 34%);
  z-index: 0;
}

.catalog-content {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 200px;
}

/* filter checkbox radio etc.*/

.filter {
  z-index: 1;
  margin-left: 45px;
  position: relative;
}

.filter legend {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  padding-left: 1px;
}

.filter fieldset {
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 26px;
}

.filter fieldset:nth-child(2) {
  margin-bottom: 7px;
}

.filter fieldset:nth-child(3) {
  margin-bottom: 12px;
}

.filter legend {
  margin-bottom: 8px;
}

.filter legend::before {
  content: " ";
  height: 2px;
  width: 200px;
  display: flex;
  background-color: black;
  margin-bottom: 14px;
}

.filter label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  padding-left: 46px;
}

.range-filter {
  width: 200px;
  margin-top: 26px;
  margin-left: 1px;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 114px;
}

.price-controls { 
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  padding-left: 0px;
}

.price-controls input {
  width: 77px;
  margin-top: 17px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

.filter ul {
  list-style: none;
  padding: 0;
  
}

.filter-input li {
  margin-bottom: 11px;
}

.filter button {
  width: 200px;
  margin-left: 15px;
}

/* checkbox */

.filter-input-checkbox,
.filter-input-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.filter-input-checkbox {
  position: absolute;
  height: 24px;
  width: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: -46px;
}


/* checked */

.filter-input-checkbox:checked {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* radio button */

.filter-input-radio {
  position: absolute;
  height: 24px;
  width: 24px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: -46px;
}
  /* checked */

.filter-input-radio:checked {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-size: contain;
  }

/* disabled */

.filter-input-checkbox:disabled,
.filter-input-checkbox:disabled + span,
.filter-input-radio:disabled,
.filter-input-radio:disabled + span { 
  opacity: 0.25;
}


/* hover */

.filter-input-checkbox:not(:disabled):hover,
.filter-input-radio:not(:disabled):hover {
  opacity: 0.6;
}


/* active */

.filter-input-checkbox:checked:active,
.filter-input-checkbox:not(:checked):active,
.filter-input-radio:checked:active,
.filter-input-radio:not(:checked):active { 
  opacity: 1;
}

.filter-input-checkbox:disabled:active,
.filter-input-radio:disabled:active {
  opacity: 0.25;
}

/* product-cards */

.product-cards {
  margin-bottom: 24px;
}

.product-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.product-card-list {
  display: grid;
  grid-template-columns: 361px 361px;
  column-gap: 39px;
  row-gap: 33px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-card-item {
  margin: 0;
  padding: 0;
  width: 361px;
  position: relative;
}

.new-item::before {
  content: " ";
  background-image: url("../img/new-item.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 62px;
  height: 62px;
  position: absolute;
  right: 28px;
  top: 29px;
}

.product-card-item:hover img{
  opacity: 0.7;
}

.image-card-wrapper {
  position: relative;
}

.hover-links-wrapper {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 180px;
  left: 80px;
  z-index: 1;
  width: 200px;
}

.image-card-wrapper:hover .hover-links-wrapper {
  display: flex;
}

.add-compare-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  margin-top: 20px;
}

.add-compare-button:hover {
  opacity: 1;
}

.add-compare-button:active {
  opacity: 0.2;
}

.card-name-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 361px;
  line-height: 0;
}

.product-card-list a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

.card-name-wrapper h3 {
  width: 276px;
}

.price {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  width: auto;
}


/* paginator */

.paginator {
  background-color: var(--paginator-color);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 760px;
}
.paginator a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.prev {
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
}

.next {
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 30px;
  padding-right: 29px;
  margin-left: auto;
}

.page-item {
  margin-top: 21px;
  margin-bottom: 21px;
}

.page-number {
  margin-right: 11px;
  margin-left: 18px;
}

.next:hover,
.prev:hover {
  background-color: #D9D9D9;
}

.next a:active,
.prev a:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-number:not(.current-page) {
  opacity: 0.3;
}

.page-number:hover:not(.current-page) {
  opacity: 0.6;
}

.page-number:active:not(.current-page) {
  opacity: 1;
}

iframe {
  border: 0;
}