@font-face {
  font-family:  'Gilroy';
  src:  url('fonts/web/gilroylight.woff2') format('woff2'),
        url('fonts/web/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:  'Gilroy';
  src:  url('fonts/web/gilroyextrabold.woff2') format('woff2'),
        url('fonts/web/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
} 

@font-face {
  font-family:  'Open sans';
  src:  url('fonts/web/opensans.woff2') format('woff2'),
        url('fonts/web/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:  'Open sans';
  src:  url('fonts/web/opensanslight.woff2') format('woff2'),
        url('fonts/web/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black:  #000000;
  --basic-dark: #363636;
  --basic-white:  #ffffff;
  --basic-gray: #464646;
  --basic-half-gray:  #7e7e7e;
  --basic-gray-light: #e5e5e5;
  
  --special-yellow: #f7e296;
  --special-green:  #91c92f;
  --special-yellow-dark:  #f0c52e;

  --paginator-color: #EBEBEB;
  --popup-field-color: #f2f2f2;
}

/* Global */


/* Grid */
html {
  height: 100%;
}

.page-body {
  cursor: default;
  display: grid;
  min-height: 100%;
  grid-template-rows:
    min-content
    1fr
    min-content;
    align-content: start;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
  min-width:  1440px;
  color: var(--basic-black);
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

img {
  max-width:  100%; 
  height: auto;
}

a:not(.active) {
  text-decoration:  none;
  cursor: pointer;
}

.visually-hidden  {
  display: none;
}
/* Navigation */
.header{
  background-color: var(--special-yellow);
  display: flex;
  flex-wrap: wrap;
}

.header-inner {
  width: 1040px;
  padding: 0 60px;
}

.logo-wrapper {
  margin-top: -20px;
  margin-bottom: 17px;
  width:  100%;
}

.user-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 46px;
}

.navigation {
  width: 100%;
  margin-bottom: 164px;
}

.navigation-inner {
  margin-bottom: 50px;
}

.container {
  width: 1160px;
  margin: 0 auto;  
}

/* User navigation */
.user-navigation-list,
.main-catalog-list {
  color:  var(--basic-black);
  font-family:  'Open sans';
  font-size: 15px;
  font-weight:  300;
  list-style: none;
  line-height:  20px;
}

.main-header-search {
  min-width: 540px;
}

.main-header-search .button{
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 18px;
  vertical-align: middle;
  width: 12px;
  height: 12px;
}


.main-header-search input::placeholder {
  font-size: 15px;
  line-height: 20px;
}

.main-header-search img {
  padding-right: 18px;
}

.user-navigation-list {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.user-navigation-list img {
  padding-right: 12px;
}

.user-navigation-login {
  width: 50%;
  flex-grow: 1;
  position: relative;
}

.user-navigation-login a {
  padding-left: 22px;
}

.user-navigation-login a::before {
  content: " ";
  background-image: url("../img/user.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 7px;
}

.user-navigation-logout {
  padding-left: 20px;
  opacity: 0.3;
}

.user-navigation-item:nth-child(2),
.user-navigation-item:nth-child(3) {
  position: relative;
}

.user-navigation-item:nth-child(2) {
  margin-right: 43px;
  padding-left: 23px;
}

.user-navigation-item:nth-child(2) a::before {
  content: " ";
  background-image: url("../img/compare.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 7px;
  padding-right: 23px;
}

.user-navigation-item:nth-child(3) {
  padding-left: 22px;
}

.user-navigation-item:nth-child(3) a::before {
  content: " ";
  background-image: url("../img/cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 5px;
}

/* Main navigation */
.main-navigation-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color:  var(--basic-black);
  font-family:  'Gilroy';
  font-weight:  800;
  font-size:  18px;
  letter-spacing: 0.2em;
  line-height:  22px;
  list-style: none;
  text-transform: uppercase;
}

.main-navigation-item:first-child {
  min-width: 540px;
  letter-spacing: 0.1em;
  position: relative;
}

.main-navigation-item .button {
  position: absolute;
  left: 210px;
  top: 2px;
  background-image: url('../img/plus.svg');
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-navigation-item:not(:first-child){
  margin-right: 35px;
}

.main-navigation-item:last-child {
  margin-left: auto;
  margin-right: 0px;
}



/* Dropdown */
.main-catalog-list {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 540px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  display: none;
}

/* active & hover link */
.user-navigation-list a,
.main-navigation-list a,
.main-catalog-list a {
  color: var(--basic-black)
}

.main-logo img:hover,
.user-navigation-list span:hover,
.main-navigation-list a:hover,
.main-catalog-list a:hover,
.footer-navigation-list a:hover,
.copyright:hover {
  opacity: 0.6;
}

.main-logo img:active,
.user-navigation-list span:active,
.main-navigation-list a:active,
.main-catalog-list a:active,
.footer-navigation-list a:active,
.copyright:active {
  opacity: 0.3;
}

/* slider for special offers */
.special-offers {
  margin-bottom: 76px;
}

.special-offers-item{
  display: grid;
  grid-template-columns: 600px 1fr;
  margin-top: -125px;
  justify-items: center;
}

.special-offers-item h3 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
  margin-top: 90px;
  margin-bottom: 30px;
}

.special-offers-item p {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.special-offers .button {
  margin: 0;
  padding: 0;
  margin-bottom: 60px
}

.item-2,
.item-3 {
  display: none;
}


.feature td {
  padding-right: 60px;
  padding-top: 15px;
}

.feature tr:first-child td{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  padding-top: 0px;
}

.feature tr:last-child {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

/* content catalog */
.catalog-list-container {
  margin-bottom: 49px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  max-width: 160px;
  margin: 0;
  padding: 0;
}

.catalog-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--special-yellow);
  width: 160px;
  height: 160px;
}

.catalog-image:hover {
  background-color: var(--special-yellow-dark);
}

.catalog-list a {
  color: var(--basic-black);
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.catalog-list a:active {
 color: rgba(0, 0, 0, 0.4);
}

.catalog-list-link:active img {
  opacity: 0.3;
}

/* services */

.service-container {
  display: flex;
  margin-bottom: 90px;
}

.service-description {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.service-description-wrapper {
  max-width: 495px;
}

.service-description h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;  
}

.service-description p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.service-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 277px;
  margin: 0;
  margin-right: 116px;
  padding: 0;
  list-style: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.service-item {
  margin: 0;
  padding: 0;
}

.service-item .button {
  width: 160px;
}

.warranty,
.credit {
  display: none;
}

/* partners */

.partners {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 90px; 
} 

.partners a {
  opacity: 0.3;
  filter: grayscale(100%);
}

.partners a:hover {
  opacity: 1;
  filter: none;
}
/* Index columns */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.index-columns h2::before {
  content: " ";
  display: flex;
  width: 80px;
  height: 7px;
  margin-bottom:  50px;
  background-color: var(--basic-black);
}

.index-columns h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
}

.index-columns p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 40px;
}

.about {
  width: 473px;
}
.about h2 {
  margin-bottom: 50px;
}

.about ul {
  margin: 0;
  margin-bottom: 84px;
  padding-left: 15px;
  padding-top: 10px;
}

.about li {
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: 800;
  line-height: 28px;
  padding-left: 24px;
  margin-bottom: 20px;
  list-style-image: url('../img/bullet.svg');
}

.contact {
  width: 560px;
}

.contact h2 {
  margin-bottom: 47px;
}

.contact img {
  width: 560px;
  height: 222px;
  margin-bottom: 85px;
}


/* footer */

.footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.footer .container {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}

.footer-user-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer-user-navigation-list {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color:  var(--basic-white);
  list-style: none;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}


.footer-user-navigation-list img {
  padding-right: 12px;
}

.footer-user-navigation-list::before {
  content: " ";
  width: auto;
  flex-grow: 1;
}

.footer-user-navigation-item:first-child {
  margin-right: 41px;
}

.footer-user-navigation-item:last-child {
  margin-left: 41px;
}

.footer p {
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.footer .main-logo {
  width: auto;
  margin-bottom: 40px;
}

.footer-user-navigation-list a {
  color: var(--basic-white);
  opacity: 0.7;
}

.footer-user-navigation-list a:hover,
.socials-list a:hover {
  opacity: 1.0;
}

.footer-user-navigation-list a:active {
  opacity: 0.3;
}

.wrapper-navigation-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 67px;
}

.footer-navigation-list {
  color: var(--basic-white);
  font-family:  'Gilroy';
  font-weight:  800;
  font-size:  18px;
  letter-spacing: 0.2em;
  line-height:  22px;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  width: 423px;
  justify-content: space-between;
}

.footer-navigation-list a {
  color: var(--basic-white);
}

.socials-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 65px;
}

.socials-list {
  display: flex;
  width: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials-item:first-child {
  margin-right: 20px;
}

.socials-item:last-child {
  margin-left: 20px;
}

.socials-wrapper::before {
  content: " ";
  width: 80px;
  height: 7px;
  background-color: #f0c52e;
}

.socials-list a {
  opacity: 0.3;
}

.socials-list a:active {
  opacity: 0.1;
}
/* Buttons decorative*/

.button {
  display: inline-block;
  border: none;
  color: var(--basic-black);
  cursor: pointer;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: inherit;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  position: relative;
}

.button:hover {
  background-color: var(--special-yellow-dark);
}

.button span:active {
  opacity: 0.3;
}

.special-offers .button:hover {
  background-color: var(--special-yellow);
}

.special-offers .button:active,
.write-us-form .button:active {
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--special-yellow);
}

.write-us-form .button:focus {
  outline: 2px solid #F7E296;
}

.service-list .button:active{
  background-color: var(--basic-black);
  color: var(--special-yellow);
}

.main-header-search .button:hover {
  background-color: inherit;
}

.main-navigation-list .button {
  background-color: inherit;
  opacity: 0.7
}

/* Form  popup checkbox radio */
.main-header-search input {
  border: none;
  outline: none;
  background-color: inherit;
}

.main-header-search input::placeholder  {
  opacity: 0.3;
}


.main-header-search input:focus::placeholder {
  opacity: 1;
}

.main-header-search input:hover::placeholder {
  opacity: 0.6;
}

.popup {
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  position: fixed;
  top: 25%;
  left: 25%;
  width: 960px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: none;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 92px;
  padding-bottom: 69px;
}

.write-us-item {
  width: 360px;
}

.write-us-item input {
  width: 360px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 21px;
  margin-top: 10px;
  border: none;
  background-color: var(--popup-field-color);
  box-sizing: border-box;
}

.invalid-value:invalid {
  background-color: #F6DADA;
}

.write-us-item input:hover,
.write-us-item textarea:hover {
  background-color: #eaeaea;
}

.write-us-item input:focus,
.write-us-item textarea:focus {
  outline: 2px solid #F7E296;
  background-color: var(--basic-white);
}

.write-us-item:nth-of-type(3) {
  width: 100%;
  margin-bottom: 54px;
}

.write-us-item textarea {
  width: 760px;
  min-height: 167px;
  margin-top: 10px;
  padding-top: 17px;
  padding-left: 20px;
  border: none;
  resize: none;
  background-color: var(--popup-field-color);
  box-sizing: border-box;
}

.write-us-item input,
.write-us-item textarea {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.write-us-form .button {
  width: 200px;
  position: relative;
}

.write-us-form .button:hover {
  background-color: var(--special-yellow);
}


.write-us-form .button::before {
  content: " ";
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow);
  display: flex;
  position: absolute;
  top: 16px;
  z-index: -1;
}

.close-modal-btn {
  position: absolute;
  background-color: transparent;
  right: 0;
  top: 0;
  margin: 0;
  margin-top: 20px;
  margin-right: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  outline-color: #f7e296;
} 

.close-modal-btn:hover {
  opacity: 1;
}

.close-modal-btn:active {
  opacity: 0.3;
}

.map-popup {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 994px;
  min-height: 593px;
  z-index: 1;
}

.map-popup .close-modal-btn {
  margin: 0;
  padding: 0;
  margin-top: 43px;
  margin-right: 35px;
}

/* catalog */

main h1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
}

.title-inner {
  width: 1160px;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 50px;
}

.title-inner h1 {
  margin-left: 60px;
  margin-bottom: 30px;
}

/* breadcrumbs */

.breadcrumbs {
  font-weight: 300;
  font-size: 14px;
  list-style: none;
  line-height: 19px;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 60px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);  
}

.breadcrumbs a:not(.active):hover {
  color: rgba(0, 0, 0);
}

.breadcrumbs a:not(.active):active {
  color: rgba(0, 0, 0, 0.1);
}

.active {
  cursor: default;
}


.breadcrumbs-item:nth-child(2) {
  margin-left: 20px;
}

.breadcrumbs-item:nth-child(2) img {
  margin-left: 20px;
}

.breadcrumbs-item:first-child img{
  margin-left: 16px;
}

.breadcrumbs-item:last-child {
  margin-left: 16px;
}

/* catalog page */
.inner-page {
  width: 1440px;
  margin: 0 auto;
}

.catalog-page{
  display: grid;
  width: 100%;
  grid-template-columns: 448px 1fr;
  align-content: start;
}

.sorting {
  width: auto;
  height: 70px;
  padding-left: 72px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  background-color: var(--basic-gray-light);
}

.sorting h2 {
  margin: 0;
  margin-right: 74px;
}

.sorting-list {
  margin: 0;
  margin-right: 222px;
  padding: 0;
  display: flex;
}

.sorting-item {
  margin: 0;
  margin-right: 30px;
}

.sorting-item:last-child {
  margin-right: 0;
}

.sorting-level-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting-level-item:first-child {
  margin-right: 23px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.filters h2 {
  margin: 0;
  height: 70px;
  background-color: #dcdcdc;
}

/* product-cards */

.product-card-list {
  display: grid;
  grid-template-columns: 361px 361px;
  column-gap: 40px;
  list-style: none;
  margin: 0;
  margin-left: 72px;
  margin-bottom: 40px;
  padding: 0;
}

.product-card-item {
  margin: 0;
  margin-bottom: 40px;  
  padding: 0;
  width: 361px;
}

.product-card-item:nth-child(2n+1) {
  margin-right: 40px;
}

.product-card-list img:hover {
  opacity: 0.7;
}

.product-card-list h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

.price {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

/* paginator */

.paginator {
  background-color: var(--paginator-color);
  list-style: none;
  margin: 0;
  margin-bottom: 78px;
  margin-left: 72px;
  padding: 0;
  display: flex;
  max-width: 760px;
}
.paginator a {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.prev {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
}

.next {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
}

.page-item {
  margin-top: 25px;
  margin-bottom: 25px;
}

.page-number {
  margin-right: 15px;
  margin-left: 15px;
}

.next:hover,
.prev:hover {
  background-color: #D9D9D9;
}

.next a:active,
.prev a:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-number:not(.current-page) {
  opacity: 0.3;
}

.page-number:hover:not(.current-page) {
  opacity: 0.6;
}

.page-number:active:not(.current-page) {
  opacity: 1;
}


/* filter and sort */

.filters h2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter {
  user-select: none;
}

.filter legend {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter label {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.filter ul {
  list-style: none;
}

.sorting {
  display: flex;
}

.sorting h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting ul {
  list-style: none;
}

.sorting-list a {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  color: var(--basic-black);
}

.sorting-list a:hover:not(.current-sorting-item) {
  opacity: 0.6;
}

.sorting-list a:active:not(.current-sorting-item) {
  opacity: 1;
}

.sorting-list .current-sorting-item {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  opacity: 1;
}

.sorting-level-list .current-level {
  opacity: 1;
}

.sorting-level-list a:not(.current-level) {
  opacity: 0.4;
}

.sorting-level-list a:hover:not(.current-level) {
  opacity: 0.2;
}

.sorting-level-list a:active:not(.current-level) {
  opacity: 1;
}